$primary: darkgray;
$danger: #ff4136;

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(-180deg , darkgray, white);
  
    .nav-link {
        color: black;
    }
}

.libraryContainer {

    .card {
        text-align: center;
        border-radius: 15px;
        padding: 10px;
        transition: .3s ease all;

        .card-img-top {
            width: 100%;
            height: 70%;
        }
    }
}

@media (max-width: 1000px)
{
    .fontsizeSmall {
        font-size: 10px;
    }
}